<div class="table-responsive">
<table  class="table table-striped dataTable" >
<thead>   
   
    <tr>
        <th class="sorting" data-field="name1">Requestor</th>
        <th class="sorting" data-field="name2">Blockee</th>
        <th class="sorting sorting_asc " data-field="created" >Created</th>
        <th class=" ">Chats</th>
        <th></th>
    </tr>
</thead>
<tbody >
 </tbody>
</table>
</div>
<div class="pagination col-md-12">
	<span class="col-md-6" id="paginate_link"></span>
	<span class="col-md-6 text-right">Displaying <span id="paginate_count"><%=i%></span> out of <%=  total_count%> results</span>
</div>