<div class="modal-dialog chat-box">
  <div class="modal-content">
    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Event Time
          </h4>
        </div>
        <div class="modal-body"> 
          <p id="basicExample">
              <span><b>Start Date Time</b><br/>
              <input type="text" class="date_start" />
              <input type="text" class="time_start" /></span>
              <br/><br/><br/>
              <span><b>End Date Time</b><br/>
              <input type="text" class="date_end" />
              <input type="text" class="time_end" /></span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="btnEditEvenTimeUpdate" type="button" class="btn btn-primary">Update</button>
      </div>
  </div>
</div>