<div class="form-group">
    <label class="control-label col-sm-3"></label>
     <div id="confirmation_cnt" class="controls col-sm-4">     	
     	<p><input name="new_label<%=count%>"  type="text" class="form-control"   placeholder="Label" value="" required /></p>     	
     	<textarea id="" name="confirmation<%=count%>"   class="form-control autogrow" placeholder="" required rows="4" style="height: 105px;"></textarea>	
		<button type="button" class="removeconfirmation btn btn-xs btn-default pull-right" data-type="special" title="Remove" data-id="<%=count%>" ><i class="glyphicon glyphicon-trash text-danger"></i></button>
	</div>
</div>