<div class="us-listing table-responsive"> 
  <% 
	 if(data.photos.length){  
	 for(var i=0; i< data.photos.length; i++) {%>
            <div class="col-md-6 img-box-live mb-15"  id="update_cnt_imageform<%= i %>">
				<img src="<%= data.photos[i]%>" class="img-responsive" />				  
			</div>
			 
         <% } 
     } else { %>
          <div colspan="11 alert alert-warning">No Photos.</div> 
     <%
     }
     %>   
 
</div>
 