.input-group-btn .btn {
  line-height: 18px;
}
.input-group-btn .btn-sm {
  line-height: 16px;
}
.input-group-btn .btn-lg {
  line-height: 22px;
}

.input-group + .input-group {
  margin-top: 15px;
}
